body {
  background-color:skyblue ;
}
#table {
  font-family: Arial;
  border-collapse: collapse;
  margin-left: 18%;
}
#table th,
#table td {
  border: 2px solid #000000;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
  color: black;
}
#table tr:nth-child(2n) {
  background-color: #ffffff;
}
#table tr:hover {
  background-color:limegreen;
}
#table td {
  text-align: center;
}
span {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
