*{
            margin: 0;
            padding: 0;
            font-family: 'Aclonica';
        }
        a{
           text-decoration:none;

        }
        .main{
            position: relative;
            height: 100vh;
            width: 100vw;
        }
        

        .header{
             background: linear-gradient(to right,rgb(235, 150, 39),rgb(58, 48, 20));
             position:fixed;
             top: 0px;
             height:50px ;
             width:100%;
             z-index: 100;

        }

        

        #navBrand > h2{
            margin: 10px 15px 10px 100px;
            color:black;
        }
        #navBrand{
            float:left;
            width: 40%;
            
        }

        #NavItems{
            float: right;
            width: 60%;
            text-align:center;
           

        }
        #NavItems > a:hover{
            color: orange;
        }
        #NavItems a{
            line-height: 47px;
            margin-left: 20px;
            font-weight: bold;
            color:whitesmoke;
        }
        .image-div{

            position: relative;
            height: 80vh;
            width: 100%;
            background-attachment: fixed;
            background-position:center;
            background-repeat:no-repeat;
            background-size: cover;
            text-align: center;
        }

        
        .image-div > h1{
            position: absolute;
            top: 320px;
            left:510px;
            color:white;
            font-size: 80px;
            text-shadow: 4px 4px 4px black;
        }
        .image-div > h3{
            position:absolute;
            top: 400px;
            left: 590px;
            color:white;
            font-size: 30px;
            text-shadow: 4px 4px 4px black;


        }
        

        .image-area{
            text-align: center;
            align-items: center;
            height: 500px;
        }

        .img-1{
            float: left;
            width: 32%;
            margin: 50px 10px 30px 10px;
            box-shadow:4px 4px 5px rgb(206, 199, 199) ;
        }
        .img-2{
            float:right;
            width: 32%;
            margin: 50px 10px 30px 10px;
            box-shadow:4px 4px 5px rgb(206, 199, 199) ;
        }
        .img-3{
            float:right;
            width: 32%;
            margin: 50px 5px 30px 5px;
            box-shadow:4px 4px 5px rgb(206, 199, 199);
        }
        
        .image-area  > h1{
            width:fit-content;
            margin: 50px 0px 0px 500px;
            padding: 20px;
            box-shadow:4px 4px 5px rgb(206, 199, 199) ;
            
        }
           
    
        .image-area  > h3{
            color: black;
        
            
        }

        .parllax{
            background-image: url("https://static.toiimg.com/photo/72023714.cms");
            min-height: 400px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }
        .video-area{
            height: 600px;
            /* display: flex; */
            justify-content: center;
            /* flex-direction: row; */
        }

        .video-area > h1{
            position: relative;
            width:fit-content;
            margin: auto;
            top: 30px;
            margin-bottom: 30px;
            padding: 20px;
            box-shadow:4px 4px 5px rgb(206, 199, 199) ;
            
        }


        .vid-1{
            float: left;
            overflow: hidden;
            width: 32%;
            margin: 50px 10px 30px 10px;
            
        }
        .vid-2{
            float:right;
            overflow: hidden;
            width: 32%;
            margin: 50px 10px 30px 10px;
            
        }
        .vid-3{
            float:right;
            overflow: hidden;
            width: 32%;
            margin: 50px 10px 30px 10px;
                    }

        #footer {
        
        background-color:rgb(235, 150, 39);
        color: white;
        font-size: 15px;
        text-align: center;
        }

        .fa {
            color: black;
        padding: 20px;
        text-align: center;
        margin: 5px 2px;
        font-size: 20px;
        width: 20px;
    }

